<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension
		id="id1"
		point="org.eclipse.e4.workbench.model">
		<processor
			beforefragment="true"
			class="com.laboki.eclipse.e4.plugin.autosave.AddonInitializer">
		</processor>
	</extension>
	<extension
      point = "org.eclipse.ui.preferencePages">
       <page id="com.laboki.eclipse.e4.plugin.autosave.PreferencePage"
	    class="com.laboki.eclipse.e4.plugin.autosave.automaticsaver.preferences.ui.AutosavePage"
        name="Autosave">
       </page>
   </extension>
</plugin>