*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.checkstyle
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.buildpath
.target
.texlipse
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
/.eclipse-pmd
