<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<plugin>

	<extension point="org.eclipse.ui.startup">
		<startup class="com.laboki.eclipse.plugin.smartsave.Startup"/>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page 
			id="com.laboki.eclipse.plugin.smartsave.PreferencePage"
			class="com.laboki.eclipse.plugin.smartsave.preferences.ui.PreferencesPage"
			name="%page.name">
		</page>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="com.laboki.eclipse.plugin.smartsave.command.toggle.smart.save"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+M3+S">
		</key>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<category
			id="com.laboki.eclipse.plugin.smartsave.commands.category"
			name="%category.name"
			description="%category.description">
		</category>

		<command
			id="com.laboki.eclipse.plugin.smartsave.command.toggle.smart.save"
			name="%command.name"
			description="%command.description"
			categoryId="com.laboki.eclipse.plugin.smartsave.commands.category"
			defaultHandler="com.laboki.eclipse.plugin.smartsave.commands.ToggleSmartSaveHandler">
			
			<state 
				class="org.eclipse.ui.handlers.RegistryToggleState:true"
				id="org.eclipse.ui.commands.toggleState">
			</state>
		</command>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution 
			locationURI="toolbar:org.eclipse.ui.main.toolbar">
			
			<toolbar id="com.laboki.eclipse.plugin.smartsave.toolbar.item.toggle.smart.save">
				<command
					commandId="com.laboki.eclipse.plugin.smartsave.command.toggle.smart.save"
					icon="$nl$/icons/save-refresh.gif"
					tooltip="%command.tooltip"
					style="toggle">
				</command>
			</toolbar>

			<separator
				name="additions"
				visible="false">
			</separator>
		</menuContribution>
	</extension>

</plugin>
