<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<plugin>

	<extension point="org.eclipse.ui.startup">
		<startup class="com.laboki.eclipse.plugin.smartsave.Startup"/>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page 
			id="com.laboki.eclipse.plugin.smartsave.PreferencePage"
			class="com.laboki.eclipse.plugin.smartsave.preferences.ui.PreferencesPage"
			name="%page.name">
		</page>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<category
			id="com.laboki.eclipse.plugin.smartsave.commands.category"
			name="%category.name"
			description="%category.description">
		</category>

		<command
			categoryId="com.laboki.eclipse.plugin.smartsave.commands.category"
			id="com.laboki.eclipse.plugin.smartsave.command.toggle.smart.save"
			name="%command.name"
			description="%command.description">
		</command>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<scheme
			id="com.laboki.eclipse.plugin.smartsave.scheme"
			name="%scheme.name">
		</scheme>
		
		<key
			commandId="com.laboki.eclipse.plugin.smartsave.command.toggle.smart.save"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="com.laboki.eclipse.plugin.smartsave.scheme"
			sequence="CTRL+SHIFT+ALT+S">
		</key>
	</extension>

	<!-- FIXME: Add correct menu metadata -->
	<extension point="org.eclipse.ui.menus">
		<menuContribution 
			locationURI="toolbar:org.eclipse.ui.main.toolbar">
			
			<toolbar id="com.laboki.eclipse.plugin.smartsave.group.toggle">
				<command
					commandId="com.laboki.eclipse.plugin.smartsave.command.toggle.smart.save"
					style="toggle">
				</command>
			</toolbar>

			<separator
				name="additions"
				visible="false">
			</separator>
		</menuContribution>
	</extension>

</plugin>
