<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<plugin>

	<extension point="org.eclipse.ui.startup">
		<startup class="com.laboki.eclipse.plugin.smartsave.Startup"/>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page 
			id="com.laboki.eclipse.plugin.smartsave.PreferencePage"
			class="com.laboki.eclipse.plugin.smartsave.preferences.ui.PreferencesPage"
			name="%page.name">
		</page>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="com.laboki.eclipse.plugin.smartsave.command.toggleSmartSave"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+M3+S">
		</key>
	</extension>

	<extension point="org.eclipse.ui.services"> 
		<sourceProvider 
			provider="com.laboki.eclipse.plugin.smartsave.commands.ToggleSmartSaveProvider"> 
			<variable
				name="com.laboki.eclipse.plugin.smartsave.variable.smartSaveIsEnabled"
				priorityLevel="workbench"> 
			</variable> 
		</sourceProvider> 
	</extension>

	<extension point="org.eclipse.ui.commands">
		<category
			id="com.laboki.eclipse.plugin.smartsave.category.commands"
			name="%category.name"
			description="%category.description">
		</category>

		<command
			id="com.laboki.eclipse.plugin.smartsave.command.toggleSmartSave"
			name="%command.name"
			description="%command.description"
			categoryId="com.laboki.eclipse.plugin.smartsave.category.commands"
			defaultHandler="com.laboki.eclipse.plugin.smartsave.commands.ToggleSmartSaveHandler">
			
			<state 
				class="org.eclipse.ui.handlers.RegistryToggleState:false"
				id="org.eclipse.ui.commands.toggleState">
			</state>
		</command>
		
		<command
			id="com.laboki.eclipse.plugin.smartsave.command.enableSmartSave"
			name="%command.name.0"
			description="%command.description.0"
			categoryId="com.laboki.eclipse.plugin.smartsave.category.commands"
			defaultHandler="com.laboki.eclipse.plugin.smartsave.commands.EnableSmartSaveHandler">
		</command>

		<command
			id="com.laboki.eclipse.plugin.smartsave.command.disableSmartSave"
			name="%command.name.1"
			description="%command.description.1"
			categoryId="com.laboki.eclipse.plugin.smartsave.category.commands"
			defaultHandler="com.laboki.eclipse.plugin.smartsave.commands.DisableSmartSaveHandler">
		</command>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution 
			locationURI="toolbar:org.eclipse.ui.main.toolbar">
			<toolbar id="com.laboki.eclipse.plugin.smartsave.toolbar">
				<command
					id="com.laboki.eclipse.plugin.smartsave.item.command.toggleSmartSave"
					commandId="com.laboki.eclipse.plugin.smartsave.command.toggleSmartSave"
					icon="$nl$/icons/save-refresh.gif"
					tooltip="%command.tooltip"
					style="toggle">
				</command>
			</toolbar>
		</menuContribution>
		<menuContribution locationURI="menu:file?after=additions"> 
			<command 
				commandId="com.laboki.eclipse.plugin.smartsave.command.enableSmartSave" 
				style="push"> 
				<visibleWhen> 
					<with 
						variable="com.laboki.eclipse.plugin.smartsave.variable.smartSaveIsEnabled"> 
						<equals value="false"></equals>
					</with> 
				</visibleWhen> 
			</command> 

			<command 
				commandId="com.laboki.eclipse.plugin.smartsave.command.disableSmartSave" 
				style="push"> 
				<visibleWhen> 
					<with 
						variable="com.laboki.eclipse.plugin.smartsave.variable.smartSaveIsEnabled"> 
						<equals value="true"></equals>
					</with> 
				</visibleWhen> 
			</command> 
		</menuContribution> 
		<menuContribution 
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<separator
				name="com.laboki.eclipse.plugin.smartsave.separator1"
				visible="true">
			</separator> 
			
			<command 
				commandId="com.laboki.eclipse.plugin.smartsave.command.enableSmartSave" 
				style="push"> 
				<visibleWhen> 
					<with 
						variable="com.laboki.eclipse.plugin.smartsave.variable.smartSaveIsEnabled"> 
						<equals value="false"></equals>
					</with> 
				</visibleWhen>
			</command> 

			<command 
				commandId="com.laboki.eclipse.plugin.smartsave.command.disableSmartSave" 
				style="push"> 
				<visibleWhen> 
					<with 
						variable="com.laboki.eclipse.plugin.smartsave.variable.smartSaveIsEnabled"> 
						<equals value="true"></equals>
					</with> 
				</visibleWhen> 
			</command>

			<separator
				name="com.laboki.eclipse.plugin.smartsave.separator2"
				visible="true">
			</separator> 
		 </menuContribution> 
	</extension>

</plugin>
